{include file="public/head"}

<title>我的桌面</title>

</head>

<body>

	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 欢迎您！ <a class="btn btn-success radius r"
			style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i
				class="Hui-iconfont">&#xe68f;</i></a></nav>

	<div class="page-container">



		<div class="cl pd-5 bg-1 bk-gray mt-20">

			<p><b>· PHP </b>  版本:7.2.34</p>

			<p><b>· MySQL</b> 版本:8.0.22</p>

			<p><b>· Nginx</b> 版本:1.19.5</p>

			<p><b>· 联系方式：</b> QQ：396034074  微信：weiduaininan  手机号:188_1011_8687</p>

		</div>



	</div>


	<div class="index_card_box">

		<div class="item item1">
			<div class="card-header">商品总量</div>
			<div class="card-body">
				<div class="card-value">{$count1}</div>
				<div class="card-description">当前商品总数量</div>
				<span class="card-icon Hui-iconfont">&#xe620;</span>
			</div>
		</div>
		<div class="item item2">
				<div class="card-header">用户总量</div>
				<div class="card-body">
					<div class="card-value">{$count2}</div>
					<div class="card-description">当前用户总数量</div>
					<span class="card-icon Hui-iconfont">&#xe60d;</span>
				</div>
			</div>
			<div class="item item3">
					<div class="card-header">订单总量</div>
					<div class="card-body">
						<div class="card-value">{$count3}</div>
						<div class="card-description">已付款订单总数量</div>
						<span class="card-icon Hui-iconfont">&#xe687;</span>
					</div>
				</div>
				<div class="item item4">
						<div class="card-header">评价总量</div>
						<div class="card-body">
							<div class="card-value">{$count4}</div>
							<div class="card-description">订单评价总数量</div>
							<span class="card-icon Hui-iconfont">&#xe702;</span>
						</div>
					</div>

	</div>

	<style>
		.index_card_box {
			display: flex;
			padding: 20px;
			justify-content: space-between;
			color: #fff;
		}

		.index_card_box .item {
			width: 23.5%;
			padding: 15px;
			position: relative;
			box-sizing: border-box;
		}

		.index_card_box .item1 {
			background: linear-gradient(-125deg, #57bdbf, #2f9de2);
		}
		.index_card_box .item2 {
			background: linear-gradient(-125deg, #ff7d7d, #fb2c95);
		}
		.index_card_box .item3 {
			background: linear-gradient(-113deg, #c543d8, #925cc3);
		}
		.index_card_box .item4 {
			background: linear-gradient(-141deg, #ecca1b, #f39526);
		}

		.index_card_box .item .card-value {
			font-weight: 300;
			font-size: 46px;
			line-height: 46px;
			margin-bottom: 8px;
			margin-top: 8px;

		}

		.index_card_box .item .card-icon {
			position: absolute;
			right: 15px;
			font-size: 60px;
			top: 20px;
			font-weight: 300;
			opacity: .3;
		}
	</style>



</body>

</html>