<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" type="text/css" href="/public/static/index/css/shop.css"/>
    <link rel="stylesheet" type="text/css" href="/public/static/index/css/user.css"/>
    <link rel="stylesheet" type="text/css" href="/public/static/index/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/public/static/index/layui/css/layui.css">
    <script src="/public/static/index/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/public/static/index/js/layer-v3.1.1/layer.js"></script>
    <script src="/public/static/index/js/common.js"></script>
    <script src="/public/static/index/js/user.js"></script>
    <title>通知公告</title>
    <meta name="keywords" content="">
    <meta name="description" content="">

</head>
<body>

{include file="public/head"}

<div class="wrapbg">
<div class="wrap">

    <div class="user_position">
        当前位置：<a href="/">首页</a> > <a href="{:url('user/index')}">会员中心</a> > 通知公告
    </div>
    <div class="user_box">
        {include file="public/left_menu"}
        <div class="user_box_right">
            <div class="user_content_box">

                <div class="myscore_title" style="margin-top: 0;">
                    <div class="title_box">
                        <a href="{:url('notice')}" class="title1 current">通知公告</a>
                       <a href="{:url('notice_private')}" class="title2 ">私信消息</a>
                    </div>
                    <div class="time read_all">全部标记为已读</div>
                </div>

                <div class="notice_box">
                    {volist name="$noticeData" id="vo"}
                        
                        <div class="item">
                            
                            <a class="title" 
                            {php} if(!in_array($vo['id'],$noticeReadData)){echo "style='color:#ff6709'";}
                            {/php} href="{:url('notice_article',array('id'=>$vo.id))}">{$vo.title}</a>
                            
                            <div class="time">{$vo.time|date='Y-m-d H:s'}</div>
                        </div>
                        
                    {/volist}
                </div>
                
            </div>
        </div>
    </div>

    
</div>
</div>




{include file="public/foot2"}




<script type="text/javascript">


    //全部设为已读
    $(".read_all").click(function(){
        var id = $("input[ name='id' ]").val();
        
        //抛送数据
        postData = {'id':id};
        url='/index/notice/read_all';
        $.post(url,postData,function(result){
            location.reload();           
        },'json');
        
    });
    
    </script>
</body>
</html>

