<!DOCTYPE html>

<html>

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>

    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">

    <link rel="stylesheet" type="text/css" href="/public/static/index/css/shop.css"/>
    <link rel="stylesheet" type="text/css" href="/public/static/index/css/swiper.min.css"/>
    <link rel="stylesheet" type="text/css" href="/public/static/index/css/goods.css"/>

    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_1646840_lskp4ol16mr.css"/>

    <link rel="stylesheet" type="text/css" href="/public/static/index/layui/css/layui.css"/>


    <script src="/public/static/index/js/jquery-3.4.1.min.js"></script>

    <script src="/public/static/index/js/common.js"></script>

    <script src="/public/static/index/layui/layui.js"></script>
    <script src="/public/static/index/js/swiper.min.js"></script>

    <title>商品详情</title>

    <meta name="keywords" content="商品详情">

    <meta name="description" content="商品详情">



</head>

<body>



{include file="public/head"}

<div class="header_line"></div>

<div class="goods_position">
  <div class="wrap"><a href="/index">首页</a> &gt;
    {volist name="$positionData" id="vo"}
    <a href="/index/lists/index.html?cate_id={$vo.id}">{$vo.cate_name} <if condition="$i eq count($positionData)">&gt;</if> </a>
    {/volist}</div>
</div>
<div class="wrap">
    <div class="goods1">
        <div class="goods1_left">

          <div class="swiper-container">
            <div class="swiper-wrapper">
              {volist name="$goodsImg" id="vo"}
              <div class="swiper-slide"><img src="{$vo.image}"></div>
              {/volist}
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
          <script>
            var swiper = new Swiper('.swiper-container', {
              navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
              },
              loop:'true'
            });
          </script>

        </div>

        <div class="goods1_right">
            <div class="goods_name_box">
              <div class="goods_name">{$goodsData.goods_name}</div>
              <div class="goods_click">点击:{$goodsData.click}</div>
            </div>
            <div class="goods_name1">{$goodsData.goods_short_name}</div>
            <div class="goods_description">{$goodsData.description}</div>
            <div class="goods_price_box">
              <div class="goods_price_box_left">
                <div class="goods_price1">秒杀价：￥<span class="goods_price1_text">{$goodsData.goods_price}</span></div>
                <div class="goods_price2">市场价：￥<span class="goods_price2_text">{$goodsData.market_price}</span></div>
              </div>
              <div class="goods_price_box_right" onclick="collect()">
                  {if condition="$iscollect eq 1"}
                    <i class="layui-icon layui-icon-star-fill" style="font-size:22px;"></i>
                    {else/}
                    <i class="layui-icon layui-icon-star" style="font-size:22px;"></i>
                  {/if}
                  
              </div>
            </div>
            {if condition='$standardList'}
            {volist name="$standardList" id="vo"}
            <div class="goods_attr">{$vo.name}：</div>
            <div class="goods_attr_value_box">
              {volist name="$vo.standard" id="vo1" key='k'}
              <div class="item {if condition='$k eq 1'}current{/if}">{$vo1.standard_value}<input type="hidden" value="{$vo1.id}"></div>
              {/volist}
            </div>
            {/volist}
            {/if}

            <div class="number_box"><input type="number" min="1" value="1" class="number_input"></div>
            
            <div class="goods_btn">
              <div class="goods_btn1">立即购买</div>
              <div class="goods_btn2">加入购物车</div>
            </div>

            <input type="hidden" value="{$goodsData.goods_id}" name="goods_id">
            <input type="hidden" value="{$goodsData.single_standard}" name="single_standard">
        </div>

       

    </div>



    <div class="goods2">

        <div class="title color1">商品详情 | <a href="{:url('index/goods/goods_comment',array('goods_id'=>$goodsData.goods_id))}">商品评论</a></div>

        <div class="content">

          {$goodsContent.content|raw}

        </div>
       
    </div>

   
</div>




<div class="foot_line"></div>
{include file="public/foot2"}


<script type="text/javascript">

var goods_id=$("input[ name='goods_id' ]").val();
var single_standard=$("input[ name='single_standard' ]").val();

//页面加载请求价钱
if(single_standard==2){
     var standard_value_id='';//存放选中属性的字符串，每次点击清空，重新获取

    $('.current input').each(function(k,v){ 
      if(k==0){
        standard_value_id=$(this).val();
      } else{
        standard_value_id=standard_value_id+','+$(this).val();
      }       
      
      
    });

    url ="/index/goods/getPriceBySku";
    postData = {'standard_value_id':standard_value_id,'goods_id':goods_id};

    $.post(url,postData,function(result){
      if(result.status==0){
        $(".goods_btn").css('display','none');
      }
      if(result.status==1){
        $(".goods_price1_text").html(result.goods_price);
        $(".goods_price2_text").html(result.market_price);
      }

    },'json');
}


$(".goods_attr_value_box .item").click(function(){

    //选择哪个哪个变红

    $(this).parent().children().removeClass("current");

    $(this).addClass("current");


    var standard_value_id='';//存放选中属性的字符串，每次点击清空，重新获取

    $('.current input').each(function(k,v){ 
      if(k==0){
        standard_value_id=$(this).val();
      } else{
        standard_value_id=standard_value_id+','+$(this).val();
      }       
      
      
    });

    url ="/index/goods/getPriceBySku";
    postData = {'standard_value_id':standard_value_id,'goods_id':goods_id};

    $.post(url,postData,function(result){
      if(result.status==0){
        $(".goods_btn").css('display','none');
      }
      if(result.status==1){
        $(".goods_price1_text").html(result.goods_price);
        $(".goods_price2_text").html(result.market_price);
      }

    },'json');

  
  });


  //加入购物车
  $(".goods_btn2").click(function(){

    var amount=$(".number_input").val();

    var standard_value_id='';//存放选中属性的字符串，每次点击清空，重新获取

    $('.current input').each(function(k,v){ 
      if(k==0){
        standard_value_id=$(this).val();
      } else{
        standard_value_id=standard_value_id+','+$(this).val();
      }       
      
      
    });


    url ="/index/cart/add_to_cart";

    postData = {'amount':amount,'goods_id':goods_id,'standard_value_id':standard_value_id};

    //发送请求

    $.post(url,postData,function(result){


      if(result.status == 1) {


          layui.use('layer', function(){

            layer.alert('加入购物车成功！', function(index){

              location.href="/index/cart/index";

            }); 

          });



      }

      if(result.status == -1) {

        layui.use('layer', function(){

          layer.alert('请先登录！', function(index){

            location.href="/index/user/login";

          }); 

        });

    }


    if(result.status== 0) {


      layui.use('layer', function(){

        var layer = layui.layer;

        layer.msg('加入购物车失败！');

      });



    }


  }, 'json');


  });



  //直接购买
  $(".goods_btn1").click(function(){

    var amount=$(".number_input").val();

    var standard_value_id='';//存放选中属性的字符串，每次点击清空，重新获取

    $('.current input').each(function(k,v){ 
      if(k==0){
        standard_value_id=$(this).val();
      } else{
        standard_value_id=standard_value_id+','+$(this).val();
      }       
      
    });
    
    window.location='/index/order/buy?sku='+standard_value_id+'&amount='+amount+'&goods_id='+goods_id;

  });

  //加入收藏操作
  function collect() {
    
  
    //抛送数据
    postData = {'goods_id':goods_id};
    url='/index/collect/add_goods_collect';
    $.post(url,postData,function(result){
        
        //添加收藏
        if(result.status==1){
          $(".goods_price_box_right .layui-icon").attr('class','layui-icon-star-fill layui-icon');
        }

        //取消收藏
        if(result.status==2){
          $(".goods_price_box_right .layui-icon").attr('class','layui-icon-star layui-icon');
        }

        //服务异常
        if(result.status==-1){
          layui.use('layer', function(){
            var layer = layui.layer;
            
            layer.msg('服务端异常');
          }); 
        }

        //没有登录
        if(result.status==0){
          
          layui.use('layer', function(){
            var layer = layui.layer;
            
            layer.open({
                type: 1
                ,offset: 'auto' 
                ,id: 'layerDemo'+1 //防止重复弹出
                ,content: '<div style="text-align:center;padding:20px 80px">请登录！</div>'
                ,btn: '确定'
                ,btnAlign: 'c' //按钮居中
                ,shade: 0 //不显示遮罩
                ,yes: function(){
                    window.location.href='/index/user/login';
                }
            });
          });  
        }


      
    },'json');
  }
  
  </script>


</body>

</html>



