<footer>
    <div class="wrap">
        <div class="foot1">
            <div class="foot1_left">
                <div class="tel1">{$tel1}</div>
                <div class="tel2">24小时在线咨询</div>
                <div class="wei_box">
                    <a class="" href="#"><img src="/public/static/index/images/weibo.jpg"></a>
                    <a class="" href="#"><img src="/public/static/index/images/weixin.jpg"></a>
                </div>
            </div>
            <div class="foot1_right">
                <div class="menu">
                    <div class="title">关于小米</div>
                    <li><a href="#">小米之家</a></li>
                    <li><a href="#">品牌展厅</a></li>
                    <li><a href="#">企业文化</a></li>
                    <li><a href="#">企业使命</a></li>
                </div>
                <div class="menu">
                    <div class="title">新手入门指南</div>
                    <li><a href="{:url('index/index/page',array('id'=>4))}">商品购买政策</a></li>
                    <li><a href="{:url('index/index/page',array('id'=>5))}">商品购买流程</a></li>
                    <li><a href="{:url('index/index/page',array('id'=>6))}">如何注册会员</a></li>
                    <li><a href="{:url('index/index/page',array('id'=>7))}">交易条款说明</a></li>
                </div>
                <div class="menu">
                    <div class="title">售后服务</div>
                    <li><a href="{:url('index/index/page',array('id'=>8))}">售后服务规则</a></li>
                    <li><a href="{:url('index/index/message',array('id'=>9))}">申请退换货</a></li>
                </div>
                <div class="menu">
                    <div class="title">客服中心</div>
                    <li><a href="#">意见反馈</a></li>
                    <li><a href="{:url('index/index/page',array('id'=>9))}">常见问题</a></li>
                </div>
            </div>
        </div>
        {include file="public/foot2"}
    </div>
</footer>