<div class="foot2">
    <div class="nav">
        <div class="item"><a href="#"><a href="/">企业官网</a></a></div>
        <div class="item">|</div>
        <div class="item"><a href="#"><a href="{:url('index/index/page1')}">企业简介</a></div>
        <div class="item">|</div>
        <div class="item"><a href="{:url('index/index/brand')}">品牌展厅</a></div>
        <div class="item">|</div>
        <div class="item"><a href="{:url('index/index/page2')}">企业文化</a></div>
        <div class="item">|</div>
        <div class="item"><a href="{:url('index/index/page3')}">企业使命</a></div>
        <div class="item">|</div>
        <div class="item"><a href="#">联系我们</a></div>
        <div class="item">|</div>
        <div class="item"><a href="{:url('shop/index/news')}">新闻中心</a></div>
        <div class="item">|</div>
        <div class="item"><a href="#">我们的映像</a></div>
    </div>
    <div class="copyright">{$beian}　{$copyright}</div>
</div>
{include file="public/rightnav"}
