<!--包含头部文件-->

{include file="public/head" /}
<script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
<body>

<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 订单统计列表 </nav>

<div class="page-container">

	<div id="main" style="width:100%;height:500px;"></div>
    <script type="text/javascript">

            $.get("getOrder", function(result){
                console.log(result);
                 // 基于准备好的dom，初始化echarts实例
                 var myChart = echarts.init(document.getElementById('main'));
                
                // 指定图表的配置项和数据
                var option = {
                    title: {
                        text: '最近12个的订单总额'
                    },
                    tooltip: {},
                    legend: {
                        data:['订单']
                    },
                    xAxis: {
                        data: result['date']
                    },
                    yAxis: {},
                    series: [{
                        name: '订单',
                        type: 'bar',
                        data: result['number']
                    }]
                };

                // 使用刚指定的配置项和数据显示图表。
                myChart.setOption(option);
            });
        
        
    </script>
</div>




<!--包含头部文件-->

{include file="public/foot" /}

