<!--包含头部文件-->

{include file="public/head" /}

<body>

<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i>积分商城 </nav>

<div class="page-container">



<div class="text-c"> 

  <form method="get" action="">

      <div class="formControls col-xs-8 col-sm-3"> 



		<input type="text" name="searchkey"  placeholder="{$searchkey|default=''}" class="input-text">



      </div>

      <div class="formControls col-xs-4 col-sm-1">

        <button type="submit" class="btn btn-success radius"><i class="Hui-iconfont">&#xe665;</i>搜索</button>

      </div>

    

  </form>

  </div>

  <br><br>





<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"> <a class="btn btn-primary radius"  href="{:url('ScoreGoods/add')}"><i class="Hui-iconfont">&#xe600;</i> 添加</a></span>  </div>





	<div class="mt-20">

			<table class="table table-border table-bordered table-bg table-hover table-sort mt-20">

				<thead>

					<tr class="text-c">

						<th width="50">ID</th>

						<th width="250">标题</th>

						<th width="250">缩略图</th>
						<th width="250">所需积分</th>
						<th width="50">库存</th>
						<th width="50">排序序号<br><span class="tishi" style="font-weight: normal;">数字越小越靠前</span></th>

						<th width="250">发布时间</th>

						<th width="50">操作</th>

					</tr>

				</thead>

				<tbody>

					{volist name="scoreGoodsData" id="vo"}

					<tr class="text-c">

						<td>{$vo.id}</td>

						<td>
						{php}
							if(!empty($searchkey)){
								echo (str_replace($searchkey,"<span style='color: #f00;'>".$searchkey."</span>",$vo['title']));
							}else{
								echo $vo['title'];
							}
						{/php}</td>

						<td><img src="{$vo.thumb}" width="100"></td>
						<td>{$vo.score}</td>
						<td>{$vo.num}</td>

						<td class="text-c listorder">

							<input type="number" size="10" attr-id="{$vo.id}" attr-model="score_goods" name="listorder"  value="{$vo.listorder}"/>

						</td>

						<td>{$vo.time|date="Y-m-d H:i"}</td>

						<td class="td-manage"><a style="text-decoration:none" class="ml-5" href="{:url('score_goods/edit',array('id'=>$vo.id))}" title="修改"><i class="Hui-iconfont">&#xe6df;</i></a>
							<a style="text-decoration:none" class="ml-5" onClick="delete_confirm('{:url('score_goods/del', ['id'=>$vo.id])}')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>
						</td>

					</tr>

					{/volist}

					

				</tbody>

			</table>

			{$scoreGoodsData|raw}

	</div>

</div>

<!--包含头部文件-->

{include file="public/foot" /}

