<!-- 图标http://lib.h-ui.net/Hui-iconfont/1.0.7/demo.html -->

<aside class="Hui-aside">

	<div class="menu_dropdown bk_2">



		{volist name="$authRuleMenuData" id="vo"}
		{php}
			if(in_array($vo['id'],$rulesArr)){
		{/php}
		<dl id="menu-article">

			<dt><i class="Hui-iconfont">{$vo.icon|raw}</i> {$vo.title}<i class="Hui-iconfont menu_dropdown-arrow"></i>
			</dt>

			<dd>

				<ul>
					<li><a data-href="/qingadmin/{$vo.name}" data-title="{$vo.title}" href="javascript:void(0)">{$vo.title}</a>
					</li>
					{volist name="$vo.children" id="vo1"}
					{php}
						if(in_array($vo1['id'],$rulesArr)){{/php}
					<li><a data-href="/qingadmin/{$vo1.name}" data-title="{$vo1.title}" href="javascript:void(0)">{$vo1.title}</a>
					</li>
					{php}}{/php}
					{/volist}

				</ul>

			</dd>


		</dl>
		{php}}{/php}

		{/volist}

	</div>

</aside>