<!-- 图标http://lib.h-ui.net/Hui-iconfont/1.0.7/demo.html -->
<aside class="Hui-aside">

	<div class="menu_dropdown bk_2">


		<dl id="menu-article">

			<dt><i class="Hui-iconfont">&#xe620;</i> 商品管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>

			<dd>

				<ul>

					<li><a data-href="{:url('category/index')}" data-title="栏目管理" href="javascript:void(0)">栏目管理</a>
					</li>
					<li><a data-href="{:url('type/index')}" data-title="商品类型" href="javascript:void(0)">商品类型</a></li>
					<li><a data-href="{:url('goods/goodslist')}" data-title="商品管理" href="javascript:void(0)">商品管理</a>
					</li>
				</ul>

			</dd>

		</dl>



		<dl id="menu-article">

			<dt><i class="Hui-iconfont">&#xe681;</i> 订单管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>

			<dd>

				<ul>

					<li><a data-href="{:url('order/index')}" data-title="订单列表" href="javascript:void(0)">订单列表</a></li>

				</ul>

			</dd>

		</dl>



		<dl id="menu-article">

			<dt><i class="Hui-iconfont">&#xe60d;</i> 会员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>

			<dd>

				<ul>

					<li><a data-href="{:url('user/index')}" data-title="会员列表" href="javascript:void(0)">会员列表</a></li>
					<li><a data-href="{:url('comment/index')}" data-title="评论管理" href="javascript:void(0)">评论管理</a></li>

				</ul>

			</dd>

		</dl>


		<dl id="menu-picture">

			<dt><i class="Hui-iconfont">&#xe613;</i> 广告管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>

			<dd>

				<ul>

					<li><a data-href="{:url('ad/index')}" data-title="广告管理" href="javascript:void(0)">广告管理</a></li>

					<li><a data-href="{:url('ad/ad_type')}" data-title="广告分组" href="javascript:void(0)">广告分组</a></li>

				</ul>

			</dd>

		</dl>



		<dl id="menu-article">

			<dt><i class="Hui-iconfont">&#xe6b5;</i> 积分商城<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>

			<dd>

				<ul>

					<li><a data-href="{:url('scoreGoods/index')}" data-title="积分商城" href="javascript:void(0)">积分商城</a>
					</li>
					<li><a data-href="{:url('scoreOrder/index')}" data-title="积分订单" href="javascript:void(0)">积分订单</a>
					</li>
				</ul>

			</dd>

		</dl>

		<dl id="menu-article">

			<dt><i class="Hui-iconfont">&#xe616;</i> 内容管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>

			<dd>

				<ul>

					<li><a data-href="{:url('page/index')}" data-title="单页面管理" href="javascript:void(0)">单页面管理</a></li>
					<li><a data-href="{:url('news/index')}" data-title="新闻管理" href="javascript:void(0)">新闻管理</a></li>
					
					<li><a data-href="{:url('message/index')}" data-title="意见反馈" href="javascript:void(0)">意见反馈</a></li>

				</ul>

			</dd>

		</dl>


		<dl id="menu-article">

			<dt><i class="Hui-iconfont">&#xe6b6;</i> 营销管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>

			<dd>

				<ul>

					<li><a data-href="{:url('coupons/index')}" data-title="优惠券" href="javascript:void(0)">优惠券</a>
					</li>
					<li><a data-href="{:url('fenyong/index')}" data-title="分佣管理" href="javascript:void(0)">分佣管理</a>
					</li>

				</ul>

			</dd>

		</dl>

		<dl id="menu-article">

			<dt><i class="Hui-iconfont">&#xe61e;</i> 数据统计<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>

			<dd>

				<ul>

					<li><a data-href="{:url('number/index')}" data-title="订单统计" href="javascript:void(0)">订单统计</a></li>
					<li><a data-href="{:url('number/index')}" data-title="会员统计" href="javascript:void(0)">会员统计</a></li>
					<li><a data-href="{:url('number/index')}" data-title="热销统计" href="javascript:void(0)">热销统计</a></li>

				</ul>

			</dd>

		</dl>



		<dl id="menu-admin">

			<dt><i class="Hui-iconfont">&#xe62d;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>

			<dd>

				<ul>

					
					<li><a data-href="{:url('AuthGroup/index')}" data-title="用户组管理" href="javascript:void(0)">用户组管理</a>
					</li>

					<li><a data-href="{:url('Authrule/index')}" data-title="权限管理" href="javascript:void(0)">权限管理</a>
					</li>

					<li><a data-href="{:url('admin/index')}" data-title="管理员列表" href="javascript:void(0)">管理员列表</a></li>

				</ul>

			</dd>

		</dl>



		<dl id="menu-system">

			<dt><i class="Hui-iconfont">&#xe62e;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>

			<dd>

				<ul>

					<li><a data-href="{:url('config/index')}" data-title="系统设置" href="javascript:void(0)">系统设置</a></li>
					<li><a data-href="{:url('search/index')}" data-title="搜索关键词" href="javascript:void(0)">搜索关键词</a>
					</li>
					<li><a data-href="{:url('config/notice')}" data-title="通知消息" href="javascript:void(0)">通知消息</a></li>
					<li><a data-href="{:url('fapiao/index')}" data-title="发票管理" href="javascript:void(0)">发票管理</a></li>
					<li><a data-href="{:url('flink/index')}" data-title="友情链接" href="javascript:void(0)">友情链接</a></li>
					<li><a data-href="{:url('config/del_cache')}" data-title="清空缓存" href="javascript:void(0)">清空缓存</a>
					</li>



				</ul>

			</dd>

		</dl>

	</div>

</aside>