<!--包含头部文件-->

{include file="public/head" /}

<div class="cl pd-5 bg-1 bk-gray mt-20">  <span class="tishi">注意：通知消息一旦发送不可撤回，请谨慎添加！</span></div>

<article class="page-container">

  <form class="form form-horizontal" id="form-article-add" method="post" action="" enctype="multipart/form-data" >

    <div class="row cl">

      <label class="form-label col-xs-4 col-sm-2">标题：</label>

      <div class="formControls col-xs-8 col-sm-6">

        <input type="text" class="input-text" value="{$noticeData.title}"  name="title" required="required">
        <input type="hidden" class="input-text" value="{$noticeData.id}"  name="id" required="required">

      </div>

    </div>

    {if condition='$noticeData.user_id'}
    <div class="row cl geti_content">

      <label class="form-label col-xs-4 col-sm-2">会员ID：</label>

      <div class="formControls col-xs-8 col-sm-9">

        <input type="text" class="input-text" value="{$noticeData.user_id}"  name="user_id">

      </div>

    </div>
   {/if}


    <div class="row cl">

      <label class="form-label col-xs-4 col-sm-2">内容：</label>

      <div class="formControls col-xs-8 col-sm-9">

        <script id="editor"  type="text/plain" name="content" style="width:100%;height:300px;">{$noticeData.content|raw}</script>

      </div>

    </div>


    <div class="row cl">

      <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">

        <button onClick="article_save_submit();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 提交</button>

      </div>

    </div>

  </form>

</article>








<script>

  $(function(){

    var ue = UE.getEditor('editor');

    // $(".geti").click(function(){
    //     $(".geti_content").css("display","block");
    // });

    // $(".quanbu").click(function(){
    //     $(".geti_content").css("display","none");
    // });

  });

</script>

{include file="public/foot" /}

</body>

</html>