<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" type="text/css" href="/public/static/index/css/shop.css"/>
    <link rel="stylesheet" type="text/css" href="/public/static/index/css/user.css"/>
    <link rel="stylesheet" type="text/css" href="/public/static/index/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/public/static/index/layui/css/layui.css">
    <script src="/public/static/index/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/public/static/index/js/layer-v3.1.1/layer.js"></script>
    <script src="/public/static/index/js/common.js"></script>
    <script src="/public/static/index/js/user.js"></script>
    <title>全部订单</title>
    <meta name="keywords" content="">
    <meta name="description" content="">

</head>
<body>

{include file="public/head"}

<div class="wrapbg">
<div class="wrap">

    <div class="user_position">
        当前位置：<a href="/index">首页</a> > <a href="{:url('user/index')}">会员中心</a> > 全部订单
    </div>
    <div class="user_box">
        {include file="public/left_menu"}
        <div class="user_box_right">
            <div class="user_content_box">
                <div class="myorder_title">订单详情</div>
                <div class="myorder_detail_nav">
                    <div class="myorder_detail_nav_left">订单号：{$orderData.out_trade_no}</div>
                    <div class="myorder_detail_nav_right">
                        {if condition='$orderData.status eq 2'}
                        <a href="#" class="button1">联系客服</a>
                        <a href="{:url('index/order/myorder_comment',array('id'=>$vo.id))}" class="button1">商品评价</a>
                        {/if}

                        {if condition='$orderData.status eq 4'}
                        <a href="{:url('index/order/order_status2',array('id'=>$vo.id))}" class="button2">确认收货</a>
                        {/if}

                        {if condition='$orderData.status eq 0'}
                        <a href="{:url('index/order/order_delete',array('id'=>$vo.id))}" class="button1">取消订单</a>
                        <a href="#" class="button2">立即支付</a>
                        {/if}


                    </div>
                </div>

                <div class="myorder_detail_goods">
                    {volist name="$orderGoodsData" id="vo"}
                    <div class="item">
                        <div class="pic"><img src="{$vo.goods_thumb}"></div>
                        <div class="goods_name">{$vo.goods_name} &nbsp;{$vo.sku}</div>
                        <div class="goods_price">{$vo.goods_price}×{$vo.amount}</div>
                    </div>
                    {/volist}
                   
                </div>
                <div class="myorder_detail_address">
                    <div class="title">收货信息</div>
                    <div class="item">
                        <div class="label">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</div>
                        <div class="text">{$addressData.shou_name}</div>
                    </div>
                    <div class="item">
                        <div class="label">联系电话：</div>
                        <div class="text">{$addressData.shou_mobile}</div>
                    </div>
                    <div class="item">
                        <div class="label">收货地址：</div>
                        <div class="text">{$addressData.shou_address}</div>
                    </div>
                </div>

                <div class="myorder_detail_address">
                    <div class="title">支付方式及送货时间</div>
                    <div class="item">
                        <div class="label">支付方式：</div>
                        <div class="text">{if condition='$orderData.pay_method eq 1'}微信支付{else/}支付宝支付{/if}</div>
                    </div>
                    <div class="item">
                        <div class="label">申请发票：</div>
                        <div class="text">请在发票管理申请发票</div>
                    </div>
                    <div class="item">
                        <div class="label">快递公司：</div>
                        <div class="text">{$orderData.express_code}</div>
                    </div>
                    <div class="item">
                        <div class="label">收货单号：</div>
                        <div class="text">{$orderData.postcode}</div>
                    </div>
                </div>

                <div class="myorder_detail_total">
                    <div class="box">
                        <div class="item">
                            <div class="laebl">商品总价：</div>
                            <div class="text">{$goods_price}元</div>
                        </div>
                        <div class="item">
                            <div class="laebl">运费：</div>
                            <div class="text">{$post_money}</div>
                        </div>
                        <div class="item">
                            <div class="laebl">实付金额：</div>
                            <div class="text text1">{$orderData.total_price}元</div>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>

    
</div>
</div>




{include file="public/foot2"}


</body>
</html>

