{include file="public/head" /}

<body>

<article class="page-container">

	<form class="form form-horizontal" id="form-admin-add" action="" method="post">

	

	<div class="row cl">

		<label class="form-label col-xs-4 col-sm-3">上级规则：</label>

		<div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:150px;">

			<select class="select" name="parent_id" size="1">

				<option value="0">顶级权限</option>

				{volist name="$ruleDataTree" id="vo"}

				<option value="{$vo.id}"><?php echo str_repeat('-', $vo['level']*6)?>{$vo.title}</option>

				{/volist}

			</select>

			</span> </div>

	</div>



	<div class="row cl">

		<label class="form-label col-xs-4 col-sm-3">规则名：</label>

		<div class="formControls col-xs-8 col-sm-9">

			<input type="text" class="input-text" value="" placeholder="" name="title" required="true">

		</div>

	</div>

	<div class="row cl">

		<label class="form-label col-xs-4 col-sm-3">规则：</label>

		<div class="formControls col-xs-8 col-sm-9">

			<input type="text" class="input-text" name="name" required="true">

		</div>

	</div>

	<div class="row cl">

		<label class="form-label col-xs-4 col-sm-3">排序：</label>

		<div class="formControls col-xs-8 col-sm-9">

			<input type="text" class="input-text" name="listorder" value="0" required="true">

		</div>

	</div>

	<div class="row cl">

		<label class="form-label col-xs-4 col-sm-3">图标：</label>

		<div class="formControls col-xs-8 col-sm-9">

			<input type="text" class="input-text" name="icon">

		</div>

	</div>
	<div class="row cl">

		<label class="form-label col-xs-4 col-sm-3">是否显示在左侧：</label>

		<div class="formControls col-xs-8 col-sm-9">

			<input type="radio"  name="is_left" value="1" checked>&nbsp;显示
			<input type="radio"  name="is_left" value="0" >&nbsp;隐藏

		</div>

	</div>
	<div class="row cl">

		<label class="form-label col-xs-4 col-sm-3">状态：</label>

		<div class="formControls col-xs-8 col-sm-9">

			<input type="radio"  name="status" value="1" checked>&nbsp;显示
			<input type="radio"  name="status" value="0" >&nbsp;隐藏

		</div>

	</div>




	<div class="row cl">

		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">

			<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">

		</div>

	</div>

	</form>

</article>



{include file="public/foot" /}



<!--请在下方写此页面业务相关的脚本-->

<script type="text/javascript" src="lib/jquery.validation/1.14.0/jquery.validate.js"></script> 

<script type="text/javascript" src="lib/jquery.validation/1.14.0/validate-methods.js"></script> 

<script type="text/javascript" src="lib/jquery.validation/1.14.0/messages_zh.js"></script> 

<script type="text/javascript">

$(function(){

	$('.skin-minimal input').iCheck({

		checkboxClass: 'icheckbox-blue',

		radioClass: 'iradio-blue',

		increaseArea: '20%'

	});

	

	$("#form-admin-add").validate({

		rules:{

			adminName:{

				required:true,

				minlength:4,

				maxlength:16

			},

			password:{

				required:true,

			},

			password2:{

				required:true,

				equalTo: "#password"

			},

			sex:{

				required:true,

			},

			phone:{

				required:true,

				isPhone:true,

			},

			email:{

				required:true,

				email:true,

			},

			adminRole:{

				required:true,

			},

		},

		onkeyup:false,

		focusCleanup:true,

		success:"valid",

		submitHandler:function(form){

			$(form).ajaxSubmit({

				type: 'post',

				url: "xxxxxxx" ,

				success: function(data){

					layer.msg('添加成功!',{icon:1,time:1000});

				},

                error: function(XmlHttpRequest, textStatus, errorThrown){

					layer.msg('error!',{icon:1,time:1000});

				}

			});

			var index = parent.layer.getFrameIndex(window.name);

			parent.$('.btn-refresh').click();

			parent.layer.close(index);

		}

	});

});

</script> 

<!--/请在上方写此页面业务相关的脚本-->

</body>

</html>